
button[disabled]:hover {
  cursor: default;
}

.actionItemRow.new .description {
  background-color: lightgreen;
}

.actionItemRow.justMoved .description {
  background-color: aquamarine;
}

.actionItemRow.justMoved.done .description {
  background-color: lightcoral;
}

.actionItemRow .description {
  transition: all 1s;
}

.actionItemRow:hover .description {
  border: 1px solid lightskyblue;
}

.actionItemRow.done .description {
  font-weight: 300 !important;
}

